@charset "utf-8";

/* CMS iframe CSS */
select {padding:6px 10px 5px; border:1px solid #d4d7da; background-color:#fafafa; font-size:14px; color:#757575; vertical-align:middle; line-height:2;padding-bottom:8px; line-height:16px;}
select.phone + em {display: inline-block; width: 16px; height: 1px; margin: 0 1px 0 -3px; background-color: #c3cdd4; vertical-align: middle; }
.tblForm select.err {border-color:#f5821f; background-color:#fff1e1; color:#2c2c2c}
.tblForm .selBox.err select {border-color:#f5821f; background-color:#fff1e1; color:#2c2c2c}
 
.wd15px {width:15px !important;}
.wd20px {width:20px !important;}
.wd30px {width:30px !important;}
.wd40px {width:40px !important;}
.wd50px {width:50px !important;}
.wd60px {width:60px !important;}
.wd70px {width:70px !important;}
.wd80px {width:80px !important;}
.wd90px {width:90px !important;}
.wd100px {width:100px !important;}
.wd110px {width:110px !important;}
.wd120px {width:120px !important;}
.wd130px {width:130px !important;}
.wd140px {width:140px !important;}
.wd150px {width:150px !important;}
.wd160px {width:160px !important;}
.wd170px {width:170px !important;}
.wd180px {width:180px !important;}
.wd190px {width:190px !important;}
.wd200px {width:200px !important;}
.wd210px {width:210px !important;}
.wd220px {width:220px !important;}
.wd230px {width:230px !important;}
.wd240px {width:240px !important;}
.wd250px {width:250px !important;}
.wd260px {width:260px !important;}
.wd270px {width:260px !important;}
.wd280px {width:280px !important;}
.wd290px {width:280px !important;}
.wd300px {width:300px !important;}
.wd310px {width:310px !important;}
.wd320px {width:320px !important;}
.wd330px {width:330px !important;}
.wd340px {width:340px !important;}
.wd350px {width:350px !important;}
.wd360px {width:360px !important;}
.wd370px {width:370px !important;}
.wd380px {width:380px !important;}
.wd390px {width:390px !important;}
.wd400px {width:400px !important;}
.wd410px {width:410px !important;}
.wd420px {width:420px !important;}
.wd430px {width:430px !important;}
.wd440px {width:440px !important;}
.wd450px {width:450px !important;}
.wd470px {width:470px !important;}
.wd480px {width:480px !important;}
.wd500px {width:500px !important;}
.wd530px {width:530px !important;}
.wd570px {width:570px !important;}


.pop_ty11 {
position: relative;
overflow: hidden;
border: 5px solid #2e9498;
width: 350px;
padding: 25px 29px 43px 29px;
background: #fff;
}
.pop_ty11 h4 {
border-bottom: 2px solid #018085;
color: #037b7c;
font-size: 19px;
font-weight: bold;
margin: 0;
padding: 0 0 13px;
width: 100% !important;
height: auto;
}
.pop_ty11 h4 + .contBox01 {
margin-top: 20px !important;
}
.pop_ty11 .contBox01 {
padding: 15px 0;
border-top: 1px solid #dcdcdc;
border-bottom: 1px solid #dcdcdc;
}
.pop_ty11 .contBox01 p {
text-align: center;
line-height: 20px;
}
.btn_ex01 {
overflow: hidden;
margin-top: 25px;
padding: 0 0 15px;
text-align: center;
}

:root .btn_ex01 span a{padding:7px 19px 6px 19px;}
.btn_ex01 span a {display:inline-block;padding:7px 19px 6px;color:#fff;font-weight:bold;text-decoration:none;}

.btn_ex01 span {
background: #018085;
border: 1px solid #018085;
display: inline-block;
color: #fff;
font-weight: bold;
text-decoration: none;
margin:0 2px;
}



.pop_ty01 h4 {border-bottom: 2px solid #018085;color: #037B7C;font-size: 19px;font-weight: bold;margin: 0;padding: 5px 0px 8px;width:700px;height:25px;}
.pop_ty01 {position:relative;/* overflow:hidden; */border:5px solid #2E9498;width:720px;/* max-height:595px; */padding:25px 25px 47px 25px;background:#fff;text-align:left}
.pop_ty01 tabs {width:700px;}
.pop_ty01.pop_ty09 h4 {width:100%;}
.pop_cont {position:relative;overflow-y:auto; max-height:490px;min-height:110px;padding-right:20px;overflow-x:hidden}

.pop_ty04 {width:495px;}
.pop_ty04 h4 {width:465px;}
.pop_ty04 .tbl_tbldiv.linkN a {text-decoration:none;}
.pop_ty04 .tbl_tbldiv,.pop_ty04 .tabs {width:464px !important;}
.pop_ty04 .tbl_tbldiv table {width:465px !important;}
.pop_ty04 .tbl_btnTop03 {margin-right:30px;}

.pop_ty05 {width:535px;}

.pop_footer_left { background: none repeat scroll 0 0 #2E9498; border-top: 1px solid #D4D4D4; bottom: 0; height: 30px; left: 0; position: absolute; text-align: left; width: 100%;}
.pop_footer_left p {padding:10px 0 0 10px;color:#fff;}
.pop_footer_left .today {float:right;margin:-19px 0 0 0;color:#FFF;}
.pop_footer_left .today input {vertical-align:-2px;color:#000;}


.info04,.info06 {margin:20px 0 0;padding:15px 0;background:#f8f8fa;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.info04 p {text-align:center;}
.info04 .left {padding:0 0 0 14px;font-size:14px; text-align:left;}
.info04 ul,.info06 ul {margin-top:0;padding:0 15px;}
.info04 .text {margin-left:15px;background: url("/pbk/contents/img/bl_lst01.gif") no-repeat 0 7px;padding:0 0 0 10px;line-height:20px;text-align:left;}
.info04 .target {padding-top:15px;font-size:14px;}
.info04 .target input {background:#fff;}
.info04.oneLine {padding:35px 10px;margin-top:-1px;}
.info04 .f_btn,.f_btn.white, table .f_btn {background-image: url('/pbk/contents/img/btn/btn_rt.jpg')}
.info04 .f_btn a,.f_btn.white a, table .f_btn a {background-image: url('/pbk/contents/img/btn/btn_lt.jpg')}



/* tab */
.tabs {margin-top:22px;height:39px;background: url("/pbk/contents/img/common/tab_bg.gif") repeat-x 0 38px;}
.tabs li {float:left;padding:0;margin-right:3px;}
.tabs li.on a,
.tabs li.ons a {display:inline-block;background: url("/pbk/contents/img/tabon_lt.jpg") no-repeat left 0;height:39px;font-size:15px;padding-left:19px;color:#07787e;font-weight:bold;letter-spacing:0px;}
.tabs.small li a {font-size:12px !important;letter-spacing:-1px !important;}
.tabs li.on span,
.tabs li.ons span {display:inline-block;background: url("/pbk/contents/img/tabon_rt.jpg") no-repeat right 0;height:29px;padding-right:21px;padding-top:10px;cursor:pointer;}
.tabs li.on span.two,
.tabs li.ons span.two {display:inline-block;background: url("/pbk/contents/img/tabon_rt.jpg") no-repeat right 0;height:29px;padding-right:26px;padding-top:10px;padding-left:9px;}
.tabs li a {display:inline-block;background: url("/pbk/contents/img/taboff_lt.jpg") no-repeat left 0;height:39px;padding-left:19px; text-decoration:none;font-size:14px;letter-spacing:2px;}
.tabs li a.letter {padding-left:17px;letter-spacing:0 !important;}
.tabs li a.letter span {padding-right:18px;}
.tabs li.ons a.letter,
.tabs li.on a.letter {padding-left:16px;letter-spacing:-2px !important;}
.tabs li.ons a.letter span,
.tabs li.on a.letter span {padding-right:17px;}
.tabs li span {display:inline-block; background: url("/pbk/contents/img/taboff_rt.jpg") no-repeat right 0; height:29px;padding-right:20px;padding-top:11px;}
.tabs li span.two {display:inline-block;background: url("/pbk/contents/img/taboff_rt.jpg") no-repeat right 0;height:27px;padding-right:26px;padding-top:11px;padding-left:9px;}
.tabs li.twoLine span {height:32px;padding-top:6px !important;line-height:16px; text-align:center;}
.tabs li.twoLine.on span,
.tabs li.twoLine.ons span {height:39px;}
.tabs li.twoLine em {display:block;font-size:12px; text-align:center;}
.tabs li.twoLine2 span {padding-top:6px;font-size:13px;line-height:14px; text-align:center;}
.tabs li.twoLine2.on span,
.tabs li.twoLine2.ons span {height:39px;}
.tabs li.twoLine2 span em {display:block;margin-top:4px;}
.tabs2 {margin-top:22px;height:39px;background: url("/pbk/contents/img/common/tab_bg.gif") repeat-x 0 38px;}
.tabs2 li {float:left;padding:0;margin-right:3px;}
.tabs2 li.on a,
.tabs2 li.ons a {display:inline-block;background: url("/pbk/contents/img/tabon_lt.jpg") no-repeat left 0;height:39px;font-size:15px;padding-left:19px;color:#07787e;font-weight:bold;letter-spacing:0px;}
.tabs2.small li a {font-size:12px !important;letter-spacing:-1px !important;}
.tabs2 li.on span,
.tabs2 li.ons span {display:inline-block;background: url("/pbk/contents/img/tabon_rt.jpg") no-repeat right 0;height:29px;padding-right:21px;padding-top:10px;cursor:pointer;}
.tabs2 li.on span.two,
.tabs2 li.ons span.two {display:inline-block;background: url("/pbk/contents/img/tabon_rt.jpg") no-repeat right 0;height:39px;padding-right:26px;padding-top:10px;padding-left:9px;}
.tabs2 li a {display:inline-block;background: url("/pbk/contents/img/taboff_lt.jpg") no-repeat left 0;height:39px;padding-left:19px; text-decoration:none;font-size:14px;letter-spacing:2px;}
.tabs2 li a.letter {padding-left:17px;letter-spacing:0 !important;}
.tabs2 li a.letter span {padding-right:18px;}
.tabs2 li.ons a.letter,
.tabs2 li.on a.letter {padding-left:16px;letter-spacing:-2px !important;}
.tabs2 li.ons a.letter span,
.tabs2 li.on a.letter span {padding-right:17px;}
.tabs2 li span {display:inline-block;background: url("/pbk/contents/img/taboff_rt.jpg") no-repeat right 0;height:39px;padding-right:20px;padding-top:11px;}
.tabs2 li span.two {display:inline-block;background: url("/pbk/contents/img/taboff_rt.jpg") no-repeat right 0;height:27px;padding-right:26px;padding-top:11px;padding-left:9px;}
.tabs2 li.twoLine span {padding-top:6px;line-height:16px;}
.tabs2 li.twoLine.on span,
.tabs2 li.twoLine.ons span {height:39px;}
.tabs2 li.twoLine em {display:block;font-size:12px; text-align:center;}
.tabs2 li.twoLine2 span {padding-top:6px;font-size:13px;line-height:14px; text-align:center;}
.tabs2 li.twoLine2.on span,
.tabs2 li.twoLine2.ons span {height:39px;}


#popupJobAddress .tbl_top {margin:30px 0 0;}
#popupJobAddress .tbl_bottom {padding:15px 0 0;}
#popupJobAddress .tbl_bottom li {background: url("/pbk/contents/img/bl_lst01.gif") no-repeat 0 7px;padding:0 0 0 10px;margin:0;line-height:21px;}
#popupJobAddress .tbl_bottom li.btn {background-position:0 15px;}
#popupJobAddress .tbl_bottom input {vertical-align:middle;}
#popupJobAddress .tbl_btnBtm01 {float:right;margin-top:-40px;height:16px;}
#popupJobAddress .tbl_btnBtm02 {float:right;margin-top:-20px;height:16px;}


/* list */
#popupJobAddress .lst_01 {overflow:hidden;margin:20px 0 0;}
#popupJobAddress .noti,.noti2,.lst_01 li {background: url("/pbk/contents/img/bank/bl_lst01.gif") no-repeat 0 6px;padding-left:10px;line-height:21px;margin-top:3px;text-align:left;font-size: 12px;}
#popupJobAddress .noti {margin-top:8px;}
#popupJobAddress .noti2 {background:none;padding:0;margin-top:8px;}
#popupJobAddress .lst_01 li {background: url('/pbk/contents/img/bank/bl_lst01.gif') no-repeat 0 6px;padding-left: 10px;line-height: 21px;color:#6e6e6e;}
#popupJobAddress .lst_01 li li {background: url('/pbk/contents/img/bank/bl_tb_viewList.gif') no-repeat 0 6px;padding-left: 12px;line-height: 21px;}
#popupJobAddress .lst_01.up{margin-top: 20px;}
#popupJobAddress .lst_01.under{margin-top: 10px;}
#popupJobAddress .lst_01.info{margin-top: 20px;}
#popupJobAddress .lst_01.info li{margin-top: 10px;}
#popupJobAddress .lst_01.small{width:70%;}
#popupJobAddress .lst_02 li {background: url('/pbk/contents/img/bank/bl_MenuList01.gif') no-repeat 0 8px;padding-left: 10px;line-height: 21px;}
#popupJobAddress .lst_head {margin:20px 0 -5px;padding:0 2px 0 20px;background: url("/pbk/contents/img/bl_lhead.gif") no-repeat 0 5px;font-size:17px;color:#243131;font-weight:bold;}
#popupJobAddress .lst_01 li ul {padding-bottom:10px;}
#popupJobAddress .lst_01 li li {padding-left:12px;background: url("/pbk/contents/img/bl_tb_viewList.gif") no-repeat 0 6px;line-height:17px;}
#popupJobAddress .inbtn .f_btn {vertical-align:middle;}
#popupJobAddress .noti.inbtn,.lst_01 li.inbtn {background: url("/pbk/contents/img/bl_lst01.gif") no-repeat 0 8px;}
#popupJobAddress .indent {padding-left:15px; text-indent:-15px;}

.mgt5 {margin-top:5px !important;}



.tbl_tbldiv {width:700px;overflow:hidden;margin:8px 0 0;}
.tbl_tbldiv table {margin-left:-1px;padding:0;border-top:1px solid #9f9f9f;border-bottom:1px solid #9f9f9f;}
.tbl_tbldiv table th {background:#f2f6f7; color:#5f5f5f;font-size: 12px;}
/* 2021.12.17 환가율 변경 
.tbl_tbldiv table th,.tbl_tbldiv table td {border-left:1px solid #dadcdb;border-right:0;border-bottom:1px solid #dadcdb;line-height:19px;font-size: 12px;}
*/
.tbl_tbldiv table th,.tbl_tbldiv table td {border-left:1px solid #e1e1e1 !important;border-right:none !important;border-bottom:1px solid #e1e1e1 !important;text-align:center;padding:10px !important;}
.tbl_tbldiv.scroll {position:relative;height:150px;overflow-x:auto;}
.tbl_tbldiv.scroll table {width:auto;}
.tbl_tbldiv.scroll .tbl_col01 {width:800px;}


/* form */
#popupJobAddress select {border:1px solid #c8c8c8;color:#555;font-size:13px;padding:3px 1px 2px 5px;width:292px;height:25px;line-height:18px;}
#popupJobAddress input { color:#555;font-size:12px;line-height:20px;vertical-align:middle;}
#popupJobAddress input[type=text],#popupJobAddress input[type=password] {width:280px;height:20px;padding-top:4px;padding-left:7px;border:1px solid #ddd;border-top:1px solid #b3b3b3;border-left:1px solid #b3b3b3;}
#popupJobAddress input[type=image] {vertical-align:middle;}
#popupJobAddress input[type=radio],#popupJobAddress input[type=checkbox] {border:0;}
#popupJobAddress input[type=radio] {vertical-align:-3px;}
#popupJobAddress input.ta_right {padding-right:5px;padding-left:0;}
#popupJobAddress input.hidden {background-color:#ebebeb;}
#popupJobAddress input.b_none {border:none;margin:0}
#popupJobAddress .lab_none {position:absolute;visibility:hidden;width:0;height:0;font-size:0;padding:0;margin:0}



/* table */
#popupJobAddress table {width:100%;}
#popupJobAddress table th {color:#333;font-weight:bold;text-align:center;}
#popupJobAddress table td input,#popupJobAddress table th input,#popupJobAddress table td select,#popupJobAddress table td img,#popupJobAddress table th img {/* position:relative; */vertical-align:middle;}
#popupJobAddress table td input[type=radio],table td input[type=checkbox] {vertical-align:-3px;}
#popupJobAddress table th img {margin-left:3px;}
#popupJobAddress table td {text-align:center;}
#popupJobAddress table th,#popupJobAddress table td {padding:9px 3px 8px;}
#popupJobAddress table td .lst_01 {margin-top:0 !important;}
#popupJobAddress table td label {display: inline-block;vertical-align:middle;margin-right:5px;}
#popupJobAddress table.layoutFixed {table-layout:fixed;word-break:break-all;}

.color_green,.color_green a,.color_green a:hover {color:#0a8485 !important;}
.color_red,.color_red a,.color_red a:hover {color:#ca437b !important;}
.color_gold,.color_gold a,.color_gold a:hover {color:#8a6f4b !important;}
.color_blue,.color_blue a,.color_blue a:hover {color:#267697 !important;}
.green,.green a,.green a:hover {color:#0a8485 !important;}
.red,.red a,.red a:hover {color:#ca437b !important;}
.gold,.gold a,.gold a:hover {color:#8a6f4b !important;}
.color01,.color01 a,.color01 a:hover {color:#8a6f4b !important;}
.color02,.color02 a,.color02 a:hover {color:#ca437b !important;}
.color03,.color03 a,.color03 a:hover {color:#0a8485 !important;}
.colorPlus {color:#dc1d0e;}
.colorMlnus {color:#0e69bc;}
.win_check {text-align:right;margin-top:15px;}


th.left,td.left {text-align:left !important;padding-left:10px !important;}
th.right,td.right {text-align:right !important;}
th.center,td.center {text-align:center !important;}
.tbl_inbtn {text-align:left;}
.tbl_in {margin-top:7px;text-align:left;}
.tbl_left {text-align:left;padding-left:10px !important;padding-right:10px;}
.tbl_cen div {text-align:center !important;}
.tbl_right {padding-right:10px !important; text-align:right;}
.tbl_won {float:right; text-align:right;}
.tbl_code {background:#f6f5f1; color:#5f5f5f;font-family:Arial;font-weight:bold;}
.b-tnone,.b_tnone {border-top:none !important;}
.b_lnone {border-left:none !important;}
.vert_top {vertical-align:top;}
.vert_middle {vertical-align:middle;}
.vm{vertical-align: middle;}

/* calendar month */
.caldar {overflow:hidden;position:relative;width:224px;border:2px solid #2E9498;background:#FFF;padding:0 0 8px 0;}
.y_month {overflow:hidden;height:20px;margin:20px 0 0 26px;color:#2E9498;font-weight:bold;font-size:13px;} 
.y_month .year {float:left;width:90px;text-align:center;margin-right:8px;position:absolute;left:20px;z-index:999;}
.y_month .month {float:left;width:70px;position:absolute;left:120px;z-index:999;}
.y_month img {vertical-align:middle;}

.tbl_cal {width:200px;margin:12px 0 0 12px;}
.tbl_cal a {display:inline-block;line-height:23px;margin-top:3px; text-decoration:none;}
.tbl_cal th {width:27px;height:23px;background:#F1F6F6;padding:0;margin:0;color:#5F5F5F;font-weight:normal;}
.tbl_cal td {width:27px;height:26px;padding:0;margin:0;color:#6E6E6E;font-weight:normal;}
.tbl_cal td.selected a {display:inline-block;height:23px;width:27px;background:#018085;color:#FFF;}
.tbl_cal td a:hover {display:inline-block;height:19px;line-height:19px;width:23px;border:2px solid #CA437B;}

.pop_close {width:100%;height: 67px;position: absolute;right: 0;text-align: right;top: 0;}
.pop_close a {position: absolute;top:0;right:0;width:29px;height:29px;}

.pop_close2 {width:100%;height: 67px;position: absolute;right: 0;text-align: right;top: 0;}
.pop_close2 a {width:19px;height:18px;position: absolute;right: 0;text-align: right;top: 0;}

.caldar.month {padding-bottom:18px;}
.caldar.month > .y_month {margin:20px 0 0 62px; font-size:15px;}
.caldar.month > .y_month .year {left:60px; width:100px;}
.caldar.month > .tbl_cal {width:200px; margin:12px 0 0 12px;}
.caldar.month > .tbl_cal td {width:50px; font-weight:bold;}
.caldar.month > .tbl_cal td.selected a {display:block; height:34px; padding-top:7px; width:50px; line-height:1.2;}
.caldar.month > .tbl_cal td a:hover {display:block; height:32px; padding-top:5px; width:46px; line-height:1.2; text-decoration:none;}
.caldar.month > .tbl_cal a {float:left; display:block; width:100%; height:34px; padding-top:7px; margin-top:3px; line-height:1.2; text-decoration:none;}
.caldar.month > .tbl_cal a span {display:block; font-weight:normal;}

table .f_btn {background-image: url('../img/btn/btn_rt.jpg')}
table .f_btn a {background-image: url('../img/btn/btn_lt.jpg')}

.f_btn {display: inline-block;background: url('../img/btn/btn4_rt.gif') no-repeat right 0;height:24px;font-size:12px;vertical-align: middle;font-weight: lighter;}
.f_btn a, .f_btn.not span {display: inline-block;background: url('../img/btn/btn4_lt.gif') no-repeat left top;height:20px;line-height: 14px;padding:5px 12px 0 11px;color: #6b7171;text-decoration: none;}


.calendarBox{margin-top:1px;}
table.tblForm .calendar a{top:7px;}
table.tblForm.tbl_col01 th.vertical_etc{padding-top:12px;vertical-align:top;}
table.tbl_cal td{text-align:center;}

.ol_style01 {}
.ol_style01 li {background: none !important;text-indent: -15px;}
.inline_heading strong {font-weight:normal;}
.pop_cont {*padding-right:13px;}

#searchLayer.pop_ty02 {position:fixed;left:50%;top:50%;margin:-130px 0 0 -205px}
.pop_ty02 {position:relative;overflow:hidden;border:5px solid #2E9498;width:350px;padding:25px 25px 25px 25px;background:#FFF;}
.pop_ty02 h4 {border-bottom: 2px solid #018085;color: #037B7C;font-size: 19px;font-weight: bold;margin: 0;padding: 0 0 13px;width:331px !important}
.pop_ty02 .contBox01 {padding:25px 0;border-bottom:1px solid #D8D8D8;}
.pop_ty02 .contBox01 p {text-align:center;line-height:20px;}
.pop_ty02 .contBox01 p.left {text-align:left;line-height:20px;}

.pop_ty01 .contBox_hl {width:700px;padding:15px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.pop_ty01 .contBox01_hl p {text-align:center;line-height:25px;}
.pop_ty01 .btn_ex01 {padding-bottom:0;}
.pop_tym {position:relative; overflow:hidden; background:#fff; width:495px; border:5px solid #2E9498; padding:30px; text-align:left;}
.pop_tym h4 {border-bottom:2px solid #018085; color:#037B7C; font-size:19px; font-weight:bold; margin:0; padding: 0 0 13px; height:25px;}
.pop_tym .pop_cont {position:relative;overflow-y: auto;width:495px; max-height:490px; min-height:125px; padding-right:20px; overflow-x: hidden;}
.pop_tym .pop_conm {position:relative;overflow-y: auto;width:500px; max-height:490px; min-height:125px; padding-right:20px; overflow-x: hidden;}
.pop_tym .tabs {width:495px;}
.pop_tym .tbl_tbldiv {width:100% !important;}
.pop_tym .pop_cont > div {width:495px !important;}
.pop_tym .btn_ex01 {padding-bottom:0;}
.pop_tym .contBox03 {padding:15px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.pop_tym .contBox03 p {text-align:left;line-height:20px;}
.pop_inbox10 {margin-right:17px; padding:10px 0 15px 0; border-bottom: 1px dashed #c6c6c7; }
.pop_inbox10 dl {padding:0 0 0 15px}
.pop_inbox10 dl dt {padding:0 0 15px 0; color:#525151;}
.pop_inbox10 dl dt:first-child {padding-top:15px;}
.pop_inbox10 dl dd {padding-bottom:15px;}
.pop_inbox10.last {padding-bottom:0;border-bottom:0}
.pop_inbox10.last dl dd {padding-bottom:0;}
.pop_ty10 {width:490px;}
.pop_ty10 h4 {width:100%;}
.pop_ty10 .tbl_tbldiv {width:100% !important;}
.pop_ty02 h4 {height:auto !important;}
.pop_ty11 {position:relative;overflow:hidden;border:5px solid #2e9498;width:350px;padding:25px 29px 43px 29px;background:#fff;}
.pop_ty11 h4 {border-bottom: 2px solid #018085;color:#037b7c;font-size:19px;font-weight:bold;margin:0;padding:0 0 13px;width:100% !important;height:auto;}
.pop_ty11 .contBox01 {padding:15px 0;border-top:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc;}
.pop_ty11 .contBox01 p {text-align:center;line-height:20px;}
.pop_ty11 .contBox01 .ta_left {text-align:left;}
.pop_ty11 .contBox02 {padding:15px 0;border:1px solid #dcdcdc;}
.pop_ty11 .contBox02 p {text-align:left;line-height:20px;}
.pop_ty11 .tbl_tbldiv {width:100% !important;}
.pop_ty12 {width:340px;}
.pop_ty12 .contBox01 {padding:15px 0;border-top:none;border-bottom:1px solid #dcdcdc;}
.pop_ty12 .contBox01 p {text-align: left;}
.pop_ty01.pop_ty02 h4, .pop_ty01.pop_ty03 h4, .pop_ty01.pop_ty04 h4, .pop_ty01.pop_ty05 h4, .pop_ty01.pop_ty06 h4, .pop_ty01.pop_ty07 h4, .pop_ty01.pop_ty08 h4, .pop_ty01.pop_ty09 h4, .pop_ty01.pop_ty10 h4, .pop_ty01.pop_ty11 h4, .pop_ty01.pop_ty12 h4, .pop_ty01.pop_ty02 .info01, .pop_ty01.pop_ty03 .info01, .pop_ty01.pop_ty04 .info01, .pop_ty01.pop_ty05 .info01, .pop_ty01.pop_ty06 .info01, .pop_ty01.pop_ty07 .info01, .pop_ty01.pop_ty08 .info01, .pop_ty01.pop_ty09 .info01, .pop_ty01.pop_ty10 .info01, .pop_ty01.pop_ty11 .info01, .pop_ty01.pop_ty12 .info01, .pop_ty01.pop_ty02 .info03, .pop_ty01.pop_ty03 .info03, .pop_ty01.pop_ty04 .info03, .pop_ty01.pop_ty05 .info03, .pop_ty01.pop_ty06 .info03, .pop_ty01.pop_ty07 .info03, .pop_ty01.pop_ty08 .info03, .pop_ty01.pop_ty09 .info03, .pop_ty01.pop_ty10 .info03, .pop_ty01.pop_ty11 .info03, .pop_ty01.pop_ty12 .info03, .pop_ty01.pop_ty02 .btn_ex01, .pop_ty01.pop_ty03 .btn_ex01, .pop_ty01.pop_ty04 .btn_ex01, .pop_ty01.pop_ty05 .btn_ex01, .pop_ty01.pop_ty06 .btn_ex01, .pop_ty01.pop_ty07 .btn_ex01, .pop_ty01.pop_ty08 .btn_ex01, .pop_ty01.pop_ty09 .btn_ex01, .pop_ty01.pop_ty10 .btn_ex01, .pop_ty01.pop_ty11 .btn_ex01, .pop_ty01.pop_ty12 .btn_ex01, .pop_ty01.pop_ty02 .hana_unit, .pop_ty01.pop_ty03 .hana_unit, .pop_ty01.pop_ty04 .hana_unit, .pop_ty01.pop_ty05 .hana_unit, .pop_ty01.pop_ty06 .hana_unit, .pop_ty01.pop_ty07 .hana_unit, .pop_ty01.pop_ty08 .hana_unit, .pop_ty01.pop_ty09 .hana_unit, .pop_ty01.pop_ty10 .hana_unit, .pop_ty01.pop_ty11 .hana_unit, .pop_ty01.pop_ty12 .hana_unit{ width:auto !important; }
.txt_14_dotum {font-family: "","Dotum";font-size: 14px;}
.mt10 {margin-top:10px !important;}
.mt25 {margin-top: 25px !important;}
.t_center {text-align: center !important;}
.desc02 p {line-height: 21px;margin-top: 3px;margin-left: 15px;}
.division {padding: 18px 0 0;margin-top: 10px;background: url("/pbk/contents/img/line_dot.gif") repeat-x;}
.bold {font-weight: bold !important;}
.OPB_layerClass_generateByJS h5, .subTitle {padding: 0 0 0 14px;margin-top: 40px;background: url("/pbk/contents/img/bl_tit.gif") no-repeat 0 4px;color: #444;font-size: 12px;font-weight: bold;line-height: 20px;}
.txt_align {overflow:hidden;}
.txt_align .al_span {float:left;}
.txt_align .al_span_tit {float:left; padding-right:4px;}
.contBox02 {padding:25px 0;border-bottom:1px solid #D8D8D8;border-top:1px solid #D8D8D8;}
.contBox02 p {line-height:20px;padding:0 10px;}
.pop_ty02 .tit_logout {text-align:center;color:#037B7C;font-weight:bold;font-size:16px;padding-top:15px;}
.pop_ty02 .tit_logout_time {text-align:center;color:#EA0061;font-weight:bold;font-size:16px;padding:30px 0 20px;}
.pop_ty02 .tbl_tbldiv {width:331px;}
.pop_ty02 .tbl_tbldiv table {width: 331px !important;}

/* CMS 전용 기간선택 버턴 CSS */
table .f_btn_cms {height:auto;background:none;}
table .f_btn_cms .btnSmall {min-width:100px;margin-left:0;margin:0 5px;background:#fff;border:1px solid #a5d3d4;font-size:14px;color:#008485;letter-spacing:-0.5px;line-height:37px;height:36px;}
table .f_btn_cms .btnSmall:first-child {margin-left: 0;}
table .f_btn_cms .btnSmall.bg, table .f_btn_cms .btnSmall:focus, table .f_btn_cms .btnSmall:hover {background:#008485;color:#fff}

/* 영업점 찾기 CSS */
#branchForm input[type=text] {width: 100px;height: 20px;padding-top: 4px;padding-left: 7px;border: 1px solid #ddd;border-top: 1px solid #b3b3b3;border-left: 1px solid #b3b3b3;vertical-align: middle;color: #6e6e6e;}
#resultTableWrap .tbl_col01 th, #resultTableWrap .tbl_col01 td {border-bottom: 0 !important;border-top: 1px solid #dadcdb;}

input[type='text'] {	/* contents.css :: 1.168 의 재선언  */
	height:20px;
	padding-top:4px;
	padding-left:7px;
	padding-right:4px;
	border:1px solid #ddd;
	border-top-color:#b3b3b3;
	border-left-color:#b3b3b3;
}

/* 외환 하나Libor 안내CSS추가 */
.Libor-tab{display:table;table-layout:fixed;width:100%;}
.Libor-tab li {display:table-cell;vertical-align:middle;}
.Libor-tab li a {position:relative;display:table-cell;width:100%;height:60px;text-align:center;vertical-align:middle;font-family:'NotoSans_Regular';font-size:18px;line-height:28px;background:#f6f6f6;color:#6e7277;letter-spacing:-0.5px;}
.Libor-tab li a, .Libor-tab li a:hover{text-decoration:none;}
.Libor-tab li.active a{background:#16959c;color:#fff;}
.Libor-tab li.active a:after{display:block;content:'';position:absolute;left:50%;bottom:0px;width:62px;height:9px;background:url('https://stg11-image.kebhana.com:18380/pbk/resource/simple/img/common/bg-tabmenu-active.png') 0 0 no-repeat;margin-left:-31px;}
.Libor-tab li:after {display:table-cell;content:'';height:60px;width:1px;}
.hana-Libor {padding-top:15px;}
.hana-Libor .tab-content {padding-top:30px;}
.hana-Libor .txtBtn {position:relative;display:inline-block;text-align:center;padding:0px 20px 0 5px;line-height:30px;background-color:#ffffff;border:1px solid #c1c1c1;text-decoration: none;}
.hana-Libor .txtBtn span{font-family:'NotoSans_Regular';font-size:14px;color:#222a3b;letter-spacing:-0.5px;}
.txtBtn:after {content:'▶';position: absolute;font-size:9px;transform:translateY(-50%);top: 50%;right:0.3rem;font-family:'NotoSans_Regular';color:#222a3b;}
.hana-Libor .tit {display:block;font-weight:bold;color:#666;font-size:18px;font-family:"돋움",dotum,Helvetica,AppleGothic,sans-serif;}


